body{
    width: 100%;
    min-width: 1230px;
    font-family: Montserrat,Tahoma,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height:1.25;
    color: #AE7C78;
    background-color: #fcfcfc;
}

*,
*::after,
*::before{
    box-sizing: border-box;
    transition: all 0.5s;
}


h2{
    font-family: 'Playfair Display',serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height:48px;
    text-indent: 0.02em;
    text-align: center;
    color: #AE7C78;
}

.visually-hidden {
    position: absolute;
     height: 1px;
     width: 1px;
     padding: 0;
     margin: -1px;
     border: 0;
     clip: rect(0, 0, 0, 0);
     clip-path: inset(100%);
     overflow: hidden;
     white-space: nowrap;
}


.btn {

    color: #fff;
    background-color: #D89999;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    /* display: inline-block;
   
    padding:15px 35px;

    border:none;

     */
}

    .btn:hover,
    .btn:focus{
        
        background-color: #be7d7d9d;
    }

    .btn:active{
    
        background-color: #835252;
    }

/* основная навигация*********************************************************************************************************** */
.main-nav {
}
.main-menu-list {
}
.main-menu-list__item {
}

.main-menu-list__link {
    font-family: Montserrat,Tahoma,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height:1.25;
    text-align: center;
    color: #AE7C78;
    background-color: #fff;
    text-decoration: none;
}

    .main-menu-list__link:visited{
            
        color: #5c3d3a;
    }

    .main-menu-list__link:hover,
    .main-menu-list__link:focus{
        text-decoration: underline;
        color: #ae7c78bd;
    }

    .main-menu-list__link:active{
        text-decoration: underline;
        color: #976a66;
    }

    /* lead открывающий блок  **********************************************************************************************************/

    .lead__title{

        font-family: 'Playfair Display',serif;
        font-style: normal;
        font-weight: normal;
        font-size: 44px;
        line-height: 1.34;

        color: #AE7C78

    }

    .lead p{
        font-size: 24px;
        line-height: 1.2;
    }

/* СЛАЙДЕР ***********************************************************************************************************************************/

.slider__title {
    font-family: Montserrat,Tahoma,sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;

}
.slider__price {
    font-family: Montserrat,Tahoma,sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #AE7C78;

}



.slider__control-panel-btn{
    display: inline-block;
    width: 50px;
    height: 15px;
    border:none;

    background-color: transparent;
    background-position:50% 50%;

    cursor: pointer;
}

    .slider__control-panel-btn:hover,
    .slider__control-panel-btn:focus{

        opacity: 0.6;

    }

    .slider__control-panel-btn:active{

        opacity: 1;
        background-color: #ae7c786e;

    }


.slider__control-panel-btn--left{
    background-image: url('../../images/decor/arrow-left.svg');
    
}

.slider__control-panel-btn--right{
    background-image: url('../../images/decor/arrow-right.svg');
}


/* карточки выбора букета *******************************************************************************************************************/

.choose-bouquet-list__item{
    width: 387px;
    height: 442px;


    background-color: #ffc0cbaf;
    
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 387px 442px;
    color:#fff;
}


.choose-bouquet-list__item--wedding{
    background-image: url('../../images/decor/wedding-bouquet.jpg');
}

.choose-bouquet-list__item--pion{
    background-image: url('../../images/decor/pion-bouquet.jpg');
}

.choose-bouquet-list__item--choose{
    background-image: url('../../images/decor/choose-bouquet.jpg');
}

.choose-bouquet-list__link{
        
    display: inline-block;

    background-color: rgba(174, 124, 120, 0.6);
    color:#fff;
    text-align: center;
    text-decoration: none;
}

    .choose-bouquet-list__link:visited{
                
        /* color: rgb(158, 150, 150); */
    }

    .choose-bouquet-list__link:hover,
    .choose-bouquet-list__link:focus{
        
        background-color: rgba(174, 124, 120, 0.8);
        
    }

    .choose-bouquet-list__link:active{
        
        background-color: rgba(174, 124, 120,1);
    }

.choose-bouquet__title {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;

    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;

}
.choose-bouquet-text {
    font-family: Montserrat,Tahoma,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}


/* discaunt блок ******************************************************************************************************************** */

.discaunt__grid-layout{
    background-color: #AE7C78;
    color:#fff;
}

.discaunt__title{
    font-family: 'Playfair Display',serif;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
    letter-spacing: 0.02em;
}

.discaunt__text{
    font-family: Montserrat,Tahoma,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

/* steps-bouquet **************************************************************************************************************** */

.steps-bouquet-list__item{
    text-align: center;
}

.steps-bouquet-list__title{
    font-weight: 500;
}
